<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389876312879-0u09vevh33nsst84i7au9c000lat47bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389876312879-0u09vevh33nsst84i7au9c000lat47bb</string>
	<key>API_KEY</key>
	<string>AIzaSyBG0Ij97gWtNOjUwS-38DYhuuHo7Kz3sSc</string>
	<key>GCM_SENDER_ID</key>
	<string>389876312879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oakmontblue.docupulse</string>
	<key>PROJECT_ID</key>
	<string>docupulse-6dc32</string>
	<key>STORAGE_BUCKET</key>
	<string>docupulse-6dc32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389876312879:ios:363f5d7507754c254e4fda</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6152077506961318~9769682492</string>
</dict>
</plist>